<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}Pedro Bastos Personal Site{% endblock %}</title>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    {% load static %} <!-- Em cada template que for referenciar algum arquivo estatico, deve-se colocar esta tag -->
    <link rel="stylesheet" href="{% static 'mysite/style.css' %}">

    <style>
    {% block style %}

      /* "." indica a criação de uma classe, que pode ser usada em algum elemento*/

      /*
      exemplo de herança entre as classes css

      .mainSearchDiv {
        position: fixed;
        width: 700px;
        left: 50%;
      }

      .mainSearchDiv .searchInput {
        position: relative;
        left: -50%;
      } */

    {% endblock style %}
    </style>

    {% block script %}
    <script>

      /*
      $(document).ready(function(){

       // jQuery methods go here...

       // search input enter method
       $('#search').keydown(function(e){
         if(e.keyCode == 13)
          alert("Para de apertar enter mano!");
       });

      });
      */

    </script>
    {% endblock script %}

</head>
<body>

  <!-- Menu -->
  <nav class="navbar navbar-expand-sm justify-content-center fixed-top">
    <ul class="nav">
      {% block menuItems %}
      <li class="nav-item"><a class="nav-link" href="{% url 'mysite:home' %}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'mysite:unicamp' %}">Unicamp</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Hack Life</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Youtube playlists</a></li>
      <li class="nav-item margin50"><input type="text" class="form-control searchInput" id="search"></li>
      <li class="nav-item margin10"><button type="button" class="btn btn-primary">Procurar</button></li>
      {% endblock menuItems %}
    </ul>
  </nav>

  <div class="container-fluid contentBody" id="contentBody">
  {% block content %}

    <!-- Isso aqui funciona -->
    <img src="{% static 'mysite/images/fotoPerfil.jpg' %}" class="mx-auto d-block rounded-circle perfilImage">

    <div class="d-flex justify-content-center description">
      <table class="font-italic">
        <tr class="d-flex justify-content-center">
          <td>Pedro Barros Bastos</td>
        </tr>
        <tr class="d-flex justify-content-center">
          <td>Junior Developer</td>
        </tr>
        <tr class="d-flex justify-content-center">
          <td>Undergraduate student in Computer Sciences at Unicamp (University of Campinas - Brazil)</td>
        </tr>
        <tr class="d-flex justify-content-center">
          <td>Email : pedro.bbastos123@gmail.com</td>
        </tr>
        <tr class="d-flex justify-content-center">
          <td>Cel phone : +55 19 993028390</td>
        </tr>
      </table>
    </div>

    <div class="d-flex justify-content-center socialMedias">
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pedro.bastos.3975" class="fa fa-facebook"></a>
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/pedro-bastos-b9309aa0" class="fa fa-linkedin"></a>
    </div>

  {% endblock content %}
  </div>

</body>
</html>
