{% extends "mysite/index.html" %}
{% load static %}

{% block title %}Pedro Bastos Unicamp{% endblock%}

{% block style %}
  .icImage {
    width: 500px;
    height: 210px;
  }

  .progressBar {
    width: 700px;
  }
{% endblock style %}

{% block content %}
  <img src="{% static 'mysite/images/view_ic.jpg' %}" class="mx-auto d-block icImage">

  <div class="d-flex justify-content-center description">
    <table class="font-italic">
      <tr class="d-flex justify-content-center">
        <td>Undergraduate student in Computer Sciences at Unicamp (University of Campinas - Brazil)</td>
      </tr>
      <tr class="d-flex justify-content-center">
        <td>2017 - ~</td>
      </tr>
      <tr class="d-flex justify-content-center">
        <td>
          <div class="progress progressBar">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 27.10%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">27,10%</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
{% endblock content %}
